<p class="Header"> New Name</p>

<form action = "/names/new" method ="post">

    <label for = "newName">Enter a new name:</label>
    <input type = "text" class = "inputbox" name ="newName" required = "true" id = "newName">

    <input type ="submit" value = "Save" class="button"/>

</form>